		ul.ch{
				margin: 0;
				padding: 0;
				list-style: none;
				border: #FCC9B9 1px solid;
				display: inline-block;
			}
			ul.ch li{
				position: relative;
				white-space: nowrap;
				border: #FCC9B9 1px solid;
				border-right: #FCC9B9 1px solid;
			}
			ul.ch > li {
				float: left; /* 只有第一層是靠左對齊*/
			}
			ul.ch a {
				display: block;
				padding: 0px 40px;
				text-decoration: none;
				line-height: 35px;
				color: black;
				background-color: white;
			}
			ul.ch a:hover{
				display: block;
				padding: 0px 40px;
				text-decoration: none;
				line-height: 35px;
				color: white;
				background-color: #F2666C;